In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('BMI2.csv')

In [3]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [4]:
df.shape

(500, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [6]:
df.isna().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [9]:
sex=pd.get_dummies(df['Gender'],drop_first=True)
sex.head(4)

df = pd.concat([df,sex],axis=1)
df.head(5)

   Gender  Height  Weight  Index  Male
0    Male     174      96      4     1
1    Male     189      87      2     1
2  Female     185     110      4     0
3  Female     195     104      3     0
4    Male     149      61      3     1

In [11]:
df.drop('Gender',axis=1,inplace=True)

In [12]:
X = df.drop('Index',axis=1)
y = df['Index']

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
clf = KNeighborsClassifier()

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [21]:
clf.fit(X_train,y_train)

KNeighborsClassifier()

In [22]:
clf.score(X_test,y_test)

0.904

In [26]:
import pickle
pickle.dump(clf,open('mass.pkl','wb'))

In [27]:
model = pickle.load(open('mass.pkl','rb'))

In [28]:
clf.predict([[170,60,1]])

array([2])